@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,300&display=swap');

:root {
  --top-width: 70%;
  --top-picture-part: calc(1/4);
  --top-intro-part: calc(3/4);
  --text: #000;
  --background: #fff;

}

body {
  font-family: 'Source Code Pro', monospace;
  background-color: var(--background);
  margin: 0;
  margin-top: 5%;
  overflow: auto;
}

#canvas {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#img_box {
  display: flex;
  width: 100%;
}

#img_box img {
  max-width: 30%;
}

#display_div {
 position: absolute;
 bottom: 20px;
 left: 20%;
}

.flex-container {
  width: 100%;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.nowrap  {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.flex-item {
  padding: 5%;
  width: 100%;
  height: calc(var(--top-width)*var(--top-picture-part));
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
}

.avatar_container {
  width: calc(var(--top-width)*var(--top-picture-part));
}

.avatar {
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

form {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 10px;
}


button {
  font-size: 1.25rem;
  margin-bottom: 10%;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 8px;
}

.intro_container {
  vertical-align: top;
  display: inline-block;
  line-height: normal;
}


.typer {
  vertical-align: top;

}

.socials_header {
  position: absolute;
  justify-content: flex-end;
  height: 5%;
  width: 98%;
  top: 0;
  right: 0;

}

.contact {
  float: left;
}

.social {
  box-sizing: border-box;
  margin: 2px;
}

.social ion-icon {
  color: var(--text);
  height: 100%;
  width: 50px;
}
@media (max-height: 700px) {
  form {
    display: none;
  }

  #canvas {
    display: none;
  }
}

@media (max-width: 550px) {
  #canvas {
    display: none;
  }
}
